@import "_config";

.u-Masthead__siteName--link {
    padding: .25rem 3% .5rem;
}
.u-ArticleGroup--newsSlider {
    text-align: center;
    .u-ArticleList {
        padding-top: 0 !important;
    }
    .Module__titleLink {
        font-size: 2.5em !important;
        border: none;
        padding: .75em 0 .55em;
        font-family: $serif !important;
        font-weight: $fontWeightBold !important;
        @extend .title-gradient;
        text-decoration:none !important;
        text-transform: none !important;
        text-align: center !important;
        display: inline-block;
        &:after {
            content: "\2023";
            margin-left: .25em;
            font-size: .5em;
        }
    }
    .dates {
        margin-top: 0;
        font-weight: 200;
        b {
            font-weight: 200 !important;
        }
    }
    .u-ArticleListItem__label--location {
        display: block;
        margin-bottom: .5em;
        b {
            font-weight: 200 !important;
        }
    }
    .dateMonth {
        margin-right: .25em;
    }
    .dateThrough {
        margin: 0 .25em;
    }
    .dateTime:before {
        content: ", ";
    }
    .dates--timeRange .dateEnd .dateTime:before {
        content: "\2013";
    }
    .u-ArticleListItem__label--location__label:after {
        content: ": ";
    }
    .dateYear {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px !important;
        padding: 0 !important;
        overflow: hidden;
        position: absolute !important;
        width: 1px !important;
    }
    .u-ArticleNavGroup__navButton--archive {
        text-align: center;
        font: normal $fontWeightRegular 1.75em/1 $sans-serif;
        text-transform: uppercase;
        letter-spacing: .03em;
    }
    .u-ArticleListItem--event {
        position: relative;
        background: #d4cfce url(../../assets/images/pattern-vc-white.png) repeat;
        background-size: 6em;
        border: 1px solid #ccc; 
    }
    .u-ArticleListItem__eventDetails {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 3%;
        height: inherit;
        border-bottom: 0 solid rgba(0, 0, 0, 0);
        transition: all 0.5s ease;
        line-height: 1.1;
        font-size: 1.1em;
        min-height: 5em;
        text-align: left;
    }
}

@media screen {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        margin: 0 auto 2em;
        padding: 0;
        max-width: 25em;
    }
    .Events .Row {
        max-width: 100%;
    }
    .Drama {
        .Row--col2 {
            display: block;
        }
        .Module__image img {
            width: 100%;
        }
        .Module--mainContent {
            display: flex;
            flex-flow: column;
            padding: 2em 0;
        }
        .Module--halfWidth {
            width: inherit;
            float: none;
        }
        .Module--halfWidth:last-child {
            padding-left: 0;
        }
    }
    .Collections {
        figure, p {
            margin-bottom: 0;
            img {
                margin: 0;
            }
        }
        .fllac {
            background-color: $burgundy-2;
            padding: 1em;
            margin-bottom: 1em;
        }
        .Row--col2 div {
            margin-bottom: 1.5em;
        }
    }
    .Film .Row {
        margin: 0 0 100% 0;
    }
    .Theater {
        background-color: rgba(0,0,0,0.8);
        padding: 1em 3%;
    }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link .u-ArticleListItem__title,
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link .dates {
      color: #fff; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:visited .u-ArticleListItem__title,
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:visited .dates {
      color: #fff; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:hover .u-ArticleListItem__eventDetails, .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:focus .u-ArticleListItem__eventDetails {
      border-bottom: 2em solid rgba(0, 0, 0, 0); }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:hover .u-ArticleListItem__title,
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:hover .dates, .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:focus .u-ArticleListItem__title,
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:focus .dates {
      color: $gray-border; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:active .u-ArticleListItem__title,
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__link:active .dates {
      color: $gray-basic; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__summary,
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__label {
      display: none; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__title {
      margin: 0;
      font-size: 1em;
      text-transform: none; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleList {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem--event {
      margin: 0 0 5%;
      padding: 0;
      flex-basis: 100%; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem__thumbnail {
      float: none;
      margin: 0 !important; } 
}

@media all and (min-width: 56.25em) {
  .u-ArticleGroup.u-ArticleGroup--newsSlider {
    max-width: 65em; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleList {
      flex-wrap: wrap;
      flex-direction: row; }
    .u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleListItem--event {
      margin: 0;
      padding: 0;
      flex-basis: 31.5%; }
    .Theater {
        .Row {
            align-items: stretch;
            display: grid;
            grid-column-gap: 5%;
            grid-row-gap: 0;
            grid-template-areas:"colHeader colHeader" "col1 col2";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            justify-items: stretch;
            margin: 0 0 0 auto;
        }
        .Row__title {
            grid-area: colHeader;
        }
        p {
            grid-area: col1;
        }
        div {
            grid-area: col2;
        }
    }
    .Film .Row {
        margin: 0 0 0 auto;
        max-width: 20rem;
    }
}
.Art {
  background-image: url(../images/arts-art-bg.jpg);
  background-size: cover;}

.CAAD {
  background-image: url(../images/arts-caad-bg.jpg);
  background-size: cover; }

.Dance {
  background-color: #000;
    .Row__title {
        color: #fff;
    }
}

.Film {
  background-image: url(../images/arts-film-bg.jpg);
  background-size: cover; }

.Theater {
  background-image: url(../images/arts-theater-bg.jpg);
  background-size: cover; }

.u-ArticleGroup.u-ArticleGroup--newsSlider {
    .u-ArticleListItem__thumbnail {
        width:100%;
        &:after {
            border: 1px solid rgba(116, 102, 97, 0.5);
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .u-ArticleListItem__link {
        padding: 0;
    }
    Figure {
        margin-bottom:0;
    }
}
.u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleNavGroup__navButton--archive,
.u-ArticleGroup.u-ArticleGroup--newsSlider .Module__fullWidthFacts .moreLink {
  background: none;
  background-color: #882344;
  color: #ff;
  border-bottom: none !important; }
.u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleNavGroup__navButton--archive:visited,
.u-ArticleGroup.u-ArticleGroup--newsSlider .Module__fullWidthFacts .moreLink:visited {
  background: none;
  background-color: transparent;
  color: #fff;
  border-bottom: none !important; }

.u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleNavGroup__navButton--archive:hover,
.u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleNavGroup__navButton--archive:focus,
.u-ArticleGroup.u-ArticleGroup--newsSlider .Module__fullWidthFacts .moreLink:hover,
.u-ArticleGroup.u-ArticleGroup--newsSlider .Module__fullWidthFacts .moreLink:focus {
  background: none;
  background-color: $gray-border;
  color: #fff;
  border-bottom: none !important; }

.u-ArticleGroup.u-ArticleGroup--newsSlider .u-ArticleNavGroup__navButton--archive:active,
.u-ArticleGroup.u-ArticleGroup--newsSlider .Facts .moreLink:active {
  background: none;
  background-color: $gray-basic;
  color: #fff;
  border-bottom: none !important; }

.u-lHeader {
  background-image: url(../images/arts-bg-header.jpg);
  background-position-y: bottom;
  background-size: cover; }