
@import "_mixins";
@import "compass";
@import "_config";


/* ==============================
 *	TYPOGRAPHY
 * ==============================
 */

/* Elements */

html {
	font-family: $sans-serif;
    font-size: 100%;
}
@media screen and (min-width: $tiny) {
    html {
        font-size: 1.4em;
        font-size: calc(1em + 0.5 * ((100vw - 20em) / 75));
    }
}
@media screen and (min-width: $xlarge) {
}
h1, h2, h3, h4, h5, h6, .sel_items, #frm_tbl td {
	line-height: 1.1;
	margin-bottom: .4em;
	padding-top: .8em;
    font-family: $sans-serif;
    font-weight: 300;
}
.u-lContent h1:nth-of-type(1), .u-lAside h1:nth-of-type(1),
.u-lContent h2:nth-of-type(1), .u-lAside h2:nth-of-type(1),
.u-lContent h3:nth-of-type(1), .u-lAside h3:nth-of-type(1),
.u-lContent h4:nth-of-type(1), .u-lAside h4:nth-of-type(1),
.u-lContent h5:nth-of-type(1), .u-lAside h5:nth-of-type(1),
.u-lContent h6:nth-of-type(1), .u-lAside h6:nth-of-type(1) {
	padding-top: 0;
}
/* 2.027em
1.802em
1.602em
1.424em
1.266em
1.125em
1em */
h1 {
	font-size: 1.802em;
}
h2 {
	font-size: 1.602em;
}
h3 {
	font-size: 1.424em;
}
h4 {
	font-size: 1.266em;
}
h5, .sel_items, #frm_tbl td {
	font-size: 1.125em;
}
h6 {
	font-size: 1em;
}
.u-lContent {
	font-size: 1em;
	font-family: $serif;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 1.25em;
}
p {
	margin-top: 0;
}
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
	margin-top: 0;
}
th {
	font-weight: $fontWeightBold;
}

td {
	font-weight: $fontWeightNormal;
}

li {
	margin: 0 0 0.327em;
}
.sel_items {
    margin-bottom: .7em;
}
fieldset {
    margin: 0 0 1em;
    padding: .75em;
    .description {
        display: block;
        overflow: hidden;
        line-height: 1.2;
    }
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
    margin: .45em .55em 0 0;
    float: left;
}
#frm_tbl {
    width: 100%;
    input {
        width: 100%;
    }
    tr {
        background-color: transparent;
    }
}
/* Main page content */
.u-lMain {
	font-size: 100%;
}
.u-pageTitle {
    text-transform: uppercase;
    font-size: 2.9em;
	margin: 0 0 .5em;
}
.Module__header {
    text-transform: uppercase;
    letter-spacing: .07em;
}
.u-Masthead__siteName {
    text-align: center;
    margin-top: 1em;
}
.u-Masthead__siteName--line1,
.u-Masthead__siteName--line2,
.u-Masthead__siteName--line3 {
    font: $fontWeightNormal 1.2em/1.1 $sans-serif-condensed;
    text-transform: uppercase;
}
.u-Masthead__siteName--line2 {
    text-transform: lowercase;
}
.u-Masthead__siteName--line3 {
    display: block;
    margin-top: -.25em;
}
.u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item {
    text-transform: uppercase;
    letter-spacing: .01em;
}
.u-NavSite__level--1 {
   padding: 1.5em 0;
}
.u-VCard--site {
    .u-VCard__url {
        margin-bottom: 1em;
        display: inline-block;
        font-size: 1.2em;
        margin-bottom: .2em;
        font-weight: 500;
    }
    .u-VCard__adr {
        margin-bottom: .2em;
    }
    .u-VCard__info,
    .u-List--site {
        margin: 0 0 .6em;
    }
}
.Module--sidebar .moreLink,
.moreLink {
    font: 500 .8em $sans-serif;
	@include v-pixel-fallback("font-size", .8rem);
    text-align: right;
    text-transform: uppercase;
}
.mfp-title {
    line-height: 1.2 !important;
}
.u-ArticleNavGroup__navButton {
    font-size: .65em;
}
#frm_tbl td {
    text-align: right;
}
#frm_submit_aavc {
    font-family: $sans-serif;
    border: none;
    padding: .2em .5em;
    text-transform: uppercase;
}
/* u-lAside sidebar styles */
.u-lAside {
    padding: .6em;
	h1 {
		font-size: 1.953em;
	}

	h2 {
		font-size: 1.562em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.143em;
	}

	h5 {
		font-size: 1.093em;
	}

	p,
	ol,
	ul {
		font-size: 1.195em;
		font-weight: $fontWeightNormal;
	}

	li {
		margin-bottom: 0.327em;
		line-height: 1.2;
	}
    .Module--sidebar {
        .Module__listItem:last-of-type {
            border-bottom: 1px solid $lightGrey;
            padding-bottom: .25em;
        }
        .separator {
            visibility: hidden;
            position: absolute;
            width: 1px;
            height: 1px;
        }
        .Module__fileType {
            font-weight: 500;
        }
        .Module__fileType:before {
            content: "-";
            margin-right: .2em;
        }
    }
}

@media all and (min-width: $tiny) {
	.u-lMain {
		font-size: 110%;
	}
	p {
		line-height: 1.3;
	}
	.u-lAside {
		p,
		ol,
		ul {
			font-size: 0.956em;
		}
	}
}
.Module--contact {
    .Module__listItem {
        margin: 0 0 .25em;
    }
    dd {
        margin-left: 0;
    }
    .post-office-box.Module__poBox,
    .Module__label {
        display: inline-block;
    }
    .Module__label {
        margin-right: .25em;
    }
    border-bottom: 1px solid $lightGrey;
    padding-bottom: .8em;
}
.u-SiteMap__level {
	 margin: .5em 0;
}
.u-Masthead__siteName,
.u-Masthead__vassar {
	padding: 0;
	margin-bottom: 0;
}
.u-ArticleListItem__title {
    margin-top: 0;
}

/* ==============================
 *	LAYOUT
 * ==============================
 */
@media screen {
    .u-lHeader {
        padding: 0;
        width: 100%;
        background-color: $fontColor; 
    }
    .u-Masthead {
        display: inline-block;
        padding: 14%;
        width: 100%;
    }
    .u-Masthead__vassar {
        display: none;
        visibility: hidden;
    }
    .u-Masthead__siteName {
        border-bottom: none;
        position: relative;
        z-index: 10;
        img {
            max-width: 60%;
        }
    }
    .u-Masthead__siteName--link {
        display: block;
    }
    .u-lMain {
        margin-top: 5%;
    }
    .u-NavSite {
        float: none;
    }
    .u-VCard--site {
        padding-top: 5%;
    }
    .Module--sidebar .moreLink,
    .moreLink {
        display: block;
    }
}
@media all and (min-width: $small) {
    .u-Search {
        right: 5%;
        top: 1em;
        width: 20.5%;
    }
    .u-Search__field {
        width: 80%;
    }
    .u-Search__submit {
        width: 20%;
        svg {
            min-width: 75%;
            padding: 15%;
        }
    }
    .u-lHeader {
        background-color: transparent;
        width: 22%;
    }
    .u-Masthead__siteName {
        img {
            max-width: 100%;
        }
    }
    .u-lMain {
        margin: -12% 0 0 20%;
        padding: 0 5%;
        width: 78%;
    }
    .u-lAside {
        overflow: hidden;
    }
    .u-lFooter {
        margin: 0 0 0 22%;
    }
    .u-lContent {
        float: left;
        margin-top: -8.5%;
    }
    .u-NavSite {
        width: 22%;
        float: left;
        padding: 0 3%;
        position: absolute;
        z-index: 10;
    }
}
@media all and (min-width: $medium) {
    html {
        padding: 0;
    }
}
@media all and (min-width: $large) {
    body {
        max-width: none;
        margin: 0;
    }
    .u-lContent {
        padding-right: 6%;
    }
    .u-Search__submit svg {
        min-width: 60%;
        padding: 20%;
    }
    .u-lAside {
        margin-top: 2.5em;
    }
}

/* ==============================
 *	COLOR
 * ==============================
 */
a,
.Module__link,
.u-lAside a {
    text-decoration: none;
    border-bottom: 1px solid $linkBorderColor;
    padding-bottom: 0;
}
a:visited {
    border-bottom: 1px solid $linkColorVisited;
}
a:hover,
a:focus {
    border-bottom: 1px solid $linkColorHoverFocus;
}
a:active {
    border-bottom: 1px solid $linkColorActive;
}
.u-Search__cancel:link,
.u-Figure a:link,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
.Module__headerLink:link,
.Module__link:link,
.moreLink:link,
a.fn.org.url.u-VCard__fn.u-VCard__item.u-VCard__org.u-VCard__url,
a.fn.org.url.u-VCard__fn.u-VCard__item.u-VCard__org.u-VCard__url:link,
.icon-close:link,
.u-Search__button:link,
.ac-NavAnchor--menu:link,
.u-NavSite__item:link,
.u-Masthead__siteName--link:link,
.u-Masthead__vassar--link:link,
.u-ArticleNavGroup__navButton:link,
.u-ArticleListItem__link:link {
    border-bottom: none;
}
.u-lHeader,
.u-Masthead,
.u-NavSite {
   background-color: $fontColor;
}
.u-NavSite__level--1 {
   border-top: 1px solid #484848;
   border-top: 1px solid rgba(225, 225, 225, .25);
}
.u-pageTitle {
    /* border-bottom: 1px solid #A5DC6D; */
    color: #53A600;
}
.u-lAside {
    background-color: tint($linkColorHoverFocus, 95%);
}
.Module__header {
    color: $fontColor;
}
.u-Search__field {
    border: 8px solid $fontColor;
}
.u-VCard--site {
    a {
        border-bottom: 1px solid;
    }
    border-top: 1px solid $lightGrey;
}
#navigation .u-NavSite__item--isCurrent,
#navigation .u-NavSite__item--isOpen .u-NavSite__item,
.u-NavSite__item--isCurrent,
.u-NavSite__item--isOpen .u-NavSite__item {
    @include link-colors(#F88B00, $linkColorHoverFocus, $linkColorActive, #F88B00, $linkColorHoverFocus);
}
#frm_submit_aavc {
    color: #fff;
    @include background-colors($linkColor, $linkColorHoverFocus, $linkColorActive, $linkColor, $linkColorHoverFocus);
}
.u-ArticleListItem {
    border-bottom: 1px solid $lightGrey;
}
@media screen and (min-width: $small) {
    .u-Search__field {
        border: none;
    }
    .u-Search {
        border-bottom: 1px solid $fontColor;
    }
    .u-Masthead:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 78%;
        background-color: #191919;
        z-index: 1;
    }
}

/* rays stuff */

@media screen and (max-width:25em)
{    
    html
    {
        font-size:120%;
    }
    
    .u-ArticleListItem__thumbnail
    {
        width:100%;
    }

    .u-ArticleListItem__thumbnail
    {
        margin: 0 0 7% 0;
    }
}

@media screen and (min-width:25em)
{
    .u-ArticleListItem__thumbnail
    {
        width:42%;
    }
    .u-ArticleListItem__thumbnail
    {
        margin: .2em 5% 4% 0;
    }
}

.u-ArticleListItem__link
{
    padding: 1em 4%;
}

.u-ArticleListItem__link:link,
.u-ArticleListItem__link:visited
{
    border-bottom:none;
}

.u-ArticleListItem__link:after
{
    content:'';
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    border-bottom:solid 1px #E0E0E0;
}

.u-ArticleListItem__link:hover
{
    background-color:#fbfbfb;
    box-shadow: 2px 2px 5px #ddd;
}

.u-ArticleListItem__link:hover:after
{
    content:'';
    position:absolute;
    bottom:0;
    top: -1px;
    left:0;
    right:0;
    border:solid 1px #E0E0E0;
}

.u-ArticleListItem:first-of-type .u-ArticleListItem__link:hover:after
{
    top:0;
}

.u-ArticleListItem__link:hover :first-of-type
{
    color:#60BE00;
}

.u-ArticleListItem
{
    position:relative;
    margin-bottom:0;
    border-bottom:none;
}

.u-ArticleListItem__thumbnail
{
    float:left;
    position:relative;
}

.u-ArticleListItem__thumbnail:after
{
    content:'';
    position:absolute;
    border:solid 1px #bbb;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
